<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Trang Bình cung cấp sản phẩm silicate chất lượng cao cho ngành xây dựng, gốm sứ và nhiều lĩnh vực khác. Khám phá ngay dịch vụ và cơ hội nghề nghiệp cùng chúng tôi!" />
    <meta name="keywords" content="Trang Bình Silicate,  trang bình silicate, trangbinhsilicate , Silicate Products, Trang Bình" />
    <meta name="author" content="Trang Bình Silicate" />
    <title>Liên Hệ</title>
    <link href="../public/images/logo/logo_final.png" rel="icon">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon">
    <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon-precomposed">

    <!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="Trang Bình SiLicate" />
    <meta property="og:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
    <meta property="og:image" content="../public/images/logo/logo_final.png" />
    <meta property="og:url" content="https://www.trangbinhsilicate.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="Trang Bình Silicate" />
    <meta name="twitter:title" content="Trang Bình SiLicate" />
    <meta name="twitter:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
    <meta name="twitter:image" content="../public/images/logo/logo_final.png" />
  <!-- Update the URL for the actual image -->
  <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../public/css/main.css" />


  <link rel="stylesheet" href="./public/library/swiper/swiper.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="public/library/owl.carousel.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="./public/library/Icon-font-7-stroke-PIXEDEN-v-1-2-0/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <%- include('./partials/header'); %>

    <main class="contact-page">

      <section id="contact" class="contact section container">
        <!-- Section Title -->
        <div class=" section-title" data-aos="fade-up">
          <h2>
            <%= __('contact_title') %>
          </h2>
          <p>
            <span>
              <%= __('contact_help') %>
            </span>
            <span class="description-title">
              <%= __('contact_me') %>
            </span>
          </p>
        </div>
        <!-- End Section Title -->

        <div class="" data-aos="fade-up" data-aos-delay="100">
          <div class="row ">
            <div class="col-md-5">
              <div class="info-wrap">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                  <i class="pe-7s-map-marker"></i>
                  <div>
                    <h3>
                      <%= __('contact_address') %>
                    </h3>
                    <p>
                      B22, Khu dân cư số 2, KP 2, Phường Long Bình, Thành phố Biên Hoà, Tỉnh Đồng Nai, Việt Nam
                    </p>
                  </div>
                </div>


                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                  <i class="pe-7s-call"></i>
                  <div>
                    <h3>
                      <%= __('contact_phone') %>
                    </h3>
                    <p>+84945443339</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                  <i class="pe-7s-mail-open-file"></i>
                  <div>
                    <h3>
                      <%= __('contact_email') %>
                    </h3>
                    <p>bdsinh@gmail.com</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.2180401678755!2d106.86734581480068!3d10.992714992203738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31751b834f7e5b37%3A0xb2b330b2468e8f6c!2sB22%2C%20Khu%20d%C3%A2n%20c%C6%B0%20s%E1%BB%91%202%2C%20KP%202%2C%20Ph%C6%B0%E1%BB%9Dng%20Long%20B%C3%ACnh%2C%20Th%C3%A0nh%20ph%E1%BB%91%20Bi%C3%AAn%20Ho%C3%A0%2C%20T%E1%BB%89nh%20%C4%90%E1%BB%93ng%20Nai%2C%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1697794839991!5m2!1svi!2s"
                  frameborder="0" style="border: 0; width: 100%; height: 270px" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
            </div>

            <div class="col-md-7">
              <form id="contactForm" method="post" class="form-contact" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-12">
                  <div class="input-contact">
                    <div class="col-md-6 mt-3 ">
                      <label for="name-field" class="pb-2 pl-1 ">
                        <%= __('contact_name') %>
                      </label>
                      <input type="text"  name="name" id="name-field" class=" pl-1  form-control" required="" />
                    </div>

                    <div class="col-md-6 mt-3 ">
                      <label for="email-field" class="pb-2">
                        <%= __('contact_email') %>
                      </label>
                      <input type="email" class="form-control" name="email" id="email-field" required="" />
                    </div>
                  </div>


                  <div class="col-md-12 mt-3">
                    <label for="subject-field" class="pb-2">
                      <%= __('contact_phone') %>
                    </label>
                    <input type="text" class="form-control" name="subject" id="subject-field" required="" />
                  </div>

                  <div class="col-md-12 mt-3">
                    <label for="message-field" class="pb-2">
                      <%= __('contact_content') %>
                    </label>
                    <textarea class="form-control" name="message" rows="10" id="message-field"></textarea>
                  </div>



                  <button type="submit" class="btn">
                    <%= __('contact_submic') %>
                  </button>
                </div>
            </div>
            </form>
          </div>
          <!-- End Contact Form -->
        </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer'); %>


      <script src="./public/library/swiper/swiper-bundle.min.js"></script>
      <script src="./public/library/swiper/swiper.js"></script>
      <script src="./public/js/bootstrap.min.js"></script>
      <script src="./public/library/owl.carousel.min.js"></script>
      <script src="../public/js/contact.js"> </script>


</body>

</html>