<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Trang Bình cung cấp sản phẩm silicate chất lượng cao cho ngành xây dựng, gốm sứ và nhiều lĩnh vực khác. Khám phá ngay dịch vụ và cơ hội nghề nghiệp cùng chúng tôi!" />
    <meta name="keywords" content="Trang Bình Silicate,  trang bình silicate, trangbinhsilicate , Silicate Products, Trang Bình" />
    <meta name="author" content="Trang Bình Silicate" />
    <title>Trang Bình silicate</title>
    <link href="../public/images/logo/logo_final.png" rel="icon">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon">
    <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon-precomposed">

    <!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="Trang Bình SiLicate" />
    <meta property="og:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
    <meta property="og:image" content="../public/images/logo/logo_final.png" />
    <meta property="og:url" content="https://www.trangbinhsilicate.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="Trang Bình Silicate" />
    <meta name="twitter:title" content="Trang Bình SiLicate" />
    <meta name="twitter:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
    <meta name="twitter:image" content="../public/images/logo/logo_final.png" />

    <link rel="stylesheet" href="./public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./public/css/main.css" />
    <link rel="stylesheet" href="./public/library/swiper/swiper.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="public/library/owl.carousel.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="../public/library/Icon-font-7-stroke-PIXEDEN-v-1-2-0/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <%- include('./partials/header'); %>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../public/images/Ui/slide/baicattrang.webp"
            class="d-block w-100 vh-60"
            alt="Slide 1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../public/images/Ui/slide/xuong-san-xuat-inox.jpg"
            class="d-block w-100 vh-60"
            alt="Slide 2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./public/images/Ui/slide/slide3.jpg"
            class="d-block w-100 vh-60"
            alt="Slide 3"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./public/images/Ui/slide/slide4.jpg"
            class="d-block w-100 vh-60"
            alt="Slide 4"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <main>
      <!-- slide -->

      <!-- about-section -->
      <section class="about-section">
        <div class="container">
          <h3 class="text-title-section"><%= __('home_about_title') %></h3>
          <div class="divider"></div>
          <p><%= __('home_about_content') %></p>
          <a href="/about" class="btn"><%= __('home_about_btn') %></a>
        </div>
      </section>

      <!-- product -->
      <section class="container product-section mt-5">
        <div class="overlay"></div>
        <div class="row">
          <!-- Hình ảnh sản phẩm -->
          <div class="col-md-5 text-center left-product-section mt-3">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../public/images/Ui/product-cty/1.jpg"
                    class="d-block w-100 vh-40"
                    alt="Slide 1"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../public/images/Ui/product-cty/2.jpg"
                    class="d-block w-100 vh-40"
                    alt="Slide 2"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../public/images/Ui/product-cty/3.jpg"
                    class="d-block w-100 vh-40"
                    alt="Slide 3"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <!-- Thông tin sản phẩm -->
          <div class="col-md-7">
            <h1 class="product-title"><%= __('home_product_title') %></h1>
            <div class="content-product-section">
              <div class="product-list">
                <h3><%= __('name_product_liquid') %></h3>
                <h3><%= __('name_product_glass') %></h3>
                <h3><%= __('name_product_powder') %></h3>
              </div>
              <div class="product-description">
                <p class="text-muted"><%= __('home_product_content') %></p>
                <a href="/product_liquid" class="read-more"><%= __('home_about_btn') %></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- factory -->
      <section class="factory-section">
        <h3 class="text-title-section"><%= __('home_factory_photos') %></h3>
        <div class="divider"></div>
        <div class="container mt-5">
          <div class="position-relative">
            <div
              id="imageCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/1.jpg"
                        alt="Image 1"
                      />
                    </div>
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/2.jpg"
                        alt="Image 2"
                      />
                    </div>
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/3.jpg"
                        alt="Image 3"
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/4.jpg"
                        alt="Image 4"
                      />
                    </div>
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/5.jpg"
                        alt="Image 5"
                      />
                    </div>
                    <div class="col-md-4 image-container">
                      <img
                        src="./public/images/Ui/factory/6.jpeg"
                        alt="Image 6"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#imageCarousel"
                data-bs-slide-to="0"
                class="active"
              ></button>
              <button
                type="button"
                data-bs-target="#imageCarousel"
                data-bs-slide-to="1"
              ></button>
            </div>
            <button
              class="carousel-control-prev custom-carousel-control"
              type="button"
              data-bs-target="#imageCarousel"
              data-bs-slide="prev"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 12H4M4 12L10 18M4 12L10 6"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next custom-carousel-control"
              type="button"
              data-bs-target="#imageCarousel"
              data-bs-slide="next"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 12H20M20 12L14 6M20 12L14 18"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <!-- Our Quality -->
      <section class="section-quantity">
        <div class="col-md-6">
          <img src="./public/images/Ui/quality.jpg" alt="quality" />
        </div>
        <div class="col-md-6 section-quantity-right">
          <h3 class="text-title-section"><%= __('home_quatity_title') %></h3>
          <div class="divider-12"><div class="divider"></div></div>
          <h4><%= __('home_quatity_content1') %></h4>
          <p><%= __('home_quatity_content2') %></p>
          <a href="/about" class="btn"><%= __('home_about_btn') %></a>
        </div>
      </section>
      <!-- CASE STUDIES -->
      <section class="section-STUDIES">
        <div class="col-md-6 section-quantity-right">
          <h3 class="text-title-section"><%= __('home_studies_title') %></h3>
          <div class="divider-12"><div class="divider"></div></div>
          <h4><%= __('home_studies_content1') %></h4>
          <p class="mb-3"><%= __('home_studies_content2') %></p>
          <h3><%= __('home_studies_list') %></h3>
          <p style="text-transform: none" class="text">
            <i class="fa fa-check"></i> <%= __('home_studies_list1') %>
          </p>
          <p style="text-transform: none" class="text">
            <i class="fa fa-check"></i> <%= __('home_studies_list2') %>
          </p>
          <p style="text-transform: none" class="text">
            <i class="fa fa-check"></i> <%= __('home_studies_list3') %>
          </p>
          <p style="text-transform: none" class="text">
            <i class="fa fa-check"></i> <%= __('home_studies_list4') %>
          </p>
        </div>
        <div class="col-md-6">
          <img src="./public/images/Ui/Industrial-pic-2-1.jpg" alt="quality" />
        </div>
      </section>

      <!-- Related Products -->
      <section class="section-related-product container">
        <h3 class="text-title-section"><%= __('home_Related_Products') %></h3>
        <div class="divider"></div>
        <div class="product" id="listImageProduct">
          
        </div>
      </section>

      <!-- client section -->
      <section class="client-section">
        <h3 class="text-title-section"><%= __('home_Top_Partner') %></h3>
        <div class="divider"></div>
        <div class="mt-5">
          <div class="position-relative">
            <div id="imageContainer" class="row">
             
             
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer'); %>
    

    <script src="./public/library/swiper/swiper-bundle.min.js"></script>
    <script src="./public/library/swiper/swiper.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/library/owl.carousel.min.js"></script>
    <script src="../public/js/index.js"></script>
    <script>
      $(document).ready(function () {
        $("#myCarousel").carousel({
          interval: 5000,
        });
      });
    </script>
  </body>
</html>
